@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
        int sayi1 = 10;
        int sayi2 = 20;
    }

    <b>Sayı 1=</b> @sayi1
    <b>Sayı 2=</b> @sayi2
    <br />
    İki sayının toplamı=<span style="color:red;font-size:larger;">@(sayi1+sayi2)</span>
</div>
